{% extends "base.html" %}

{% block content %}

<div class="banner text-center" data-scroll-index='0'>

  <div class="banner text-center" data-scroll-index='0'>
    <div class="banner-overlay">
      <div class="container">
        <h1 class="text-capitalize">Research Positions</h1>
        <br>
        <p>
            Ann Barcomb Research group, Schulich School of Engineering, University of Calgary
        </p>
     </div>
    </div>
  </div>
</div>



<!-- About -->

<div class="about-us section-padding" data-scroll-index='1'>
  <div class="container">
    <div class="row">
      <!--
      <div class="col-md-12 section-title text-center">
        <h3>Research Leader: Ann Barcomb</h3>
        <p>
          My research goals are to improve interpretation and understanding of textual data,
           and to make software development better for participants.
            I want to facilitate the exchange of knowledge between practitioners and researchers,
             and to understand and generalize processes and practices.  
        </p>
        <span class="section-title-line"></span> 
      </div>
-->


<div class="col-lg-12 col-md-6 col-sm-12 col-xs-12 mb-30">
    <div class="service-box bg-white text-center">
      <div class="icon-text">
        <h3 class="title-box">Summer Opportunities (Bachelors)</h3>
        <p>
  
          <br>
          <div>
            <h4>
                General Information
            </h4>
            <p>
            Summer internships for bachelor students are supported in one of three ways: 
            <a href="https://www.mitacs.ca/en/programs/globalink"> Mitacs Globalink</a>,
            <a href="https://taylorinstitute.ucalgary.ca/pure-awards">PURE</a>, or
            <a href="https://www.nserc-crsng.gc.ca/students-etudiants/ug-pc/usra-brpc_eng.asp">NSERC</a>
            undergraduate research award.
            Some positions may only be available for certain awards; you should familiarize yourself with the deadlines and
            eligibility of the award program before contacting me.
        </p>
            <br>
            <h4>Applying</h4>
            <p>
            If the position is provided through Mitacs funding, you should not contact me, but should apply directly
            through Mitacs and indicate the project as an area of interest.
            For PURE and NSERC awards, you will need supervisor support for the application, and you should express your
            interest as soon as possible, but no later than the date specified. 
            After reviewing the general requirements above, you can express interest in a position listed below by 
            <a href="https://schulich.ucalgary.ca/contacts/ann-barcomb">contacting me at my university email address</a>. 
            If you are expecting to be funded through Mitacs, you should not approach me directly but should apply via the Mitacs program. Your mail should:
            Specify which position you are interested in, and
            Include a brief letter of intent stating why you are interested in the position and your qualifications.</p>
            <br>
            <h4>Current Openings</h4> 
            <p>
            There are currently no funded openings in my research group. Please check again later.
        </p>
          </div>
        </p>
      </div>
    </div>
  </div>
  
  


  <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12 mb-30">
    <div class="service-box bg-white text-center">
      <div class="icon-text">
        <h3 class="title-box">Research Opportunities (Masters and PhD)</h3>
        <p>
  
          <br>
          <div>
            <h4>
                General Information
            </h4>
            <p>
                Positions listed are for a <a href="https://grad.ucalgary.ca/future-students/explore-programs/electrical-and-computer-engineering-meng-thesis">thesis-based masters of Electrical and Computer Engineering a specialization in software engineering (MSc)</a>  with
                  as part of the Schulich school of <a href="https://schulich.ucalgary.ca/electrical-computer/programs/graduate"> Engineering graduate program</a> (2 years),
                 or for a <a href="https://grad.ucalgary.ca/future-students/explore-programs/electrical-and-computer-engineering-phd">doctor of philosophy (PhD)</a> (4 years) at the University of Calgary.
                There are two parts to the admissions process. 
                <br>
                <b>First</b>, an applicant must meet the <a href="https://grad.ucalgary.ca/future-students/understanding-graduate-studies">requirements for graduate studies</a>  specified by the university,
                 as well as the <a href="https://www.ucalgary.ca/pubs/calendar/grad/current/engineering-electrical-and-computer-enel.html">requirements for admission</a>  to the Electrical and Computer Engineering program.
                  I cannot waive these requirements and am unable to accept applicants who do not meet them.
                  <br>
                  <b> Second</b>, an applicant must obtain a supervisor.
                    It is not necessary to complete an application before expressing interest to a supervisor, but it is helpful to review the requirements in order to ensure that you are prepared. Information about applying to me as a supervisor is given in the next section.
                
                All positions are offered with a stipend, but graduate students may wish to look at  <a href="https://grad.ucalgary.ca/current-students/thesis-based-students/fees-and-funding/funding-options">increasing funding through scholarships and grants</a>.
                
                For more information about the graduate program, funding, or the university, please contact the graduate admissions coordinator, whose contact details can be found by reading the pages linked to above.
        </p>
        <br>
            <h4>Applying</h4>
            <p>
                After reviewing the general requirements above, you can express interest in a position listed below 
                by <a href="https://schulich.ucalgary.ca/contacts/ann-barcomb">contacting me at my university email address</a>.
                 Your mail should:

                Specify which position you are interested in,
                State your earliest possible start date,
                Give a brief statement about what interests you about the research topic (letter of intent), and
                Include a CV.
                If you are not applying for a specific posted position, but wish to express interest about possible future openings, 
                I recommend sending a letter of intent. A good letter of intent will mention my
                <a href="index.html"> research areas </a>which interest you,
                 and explain how your previous work aligns with the topic(s). 
                 I receive many emails expressing general intent, but the majority of them appear to be mass emails (spam) 
                 because they focus on the accomplishments of the author (usually quite unrelated to my research topics) and 
                 are very general about my research 
                (using titles of papers, rather than displaying any understanding of the topic). 
                I will always try to answer genuine emails, so invest a little time to ensure that your email is perceived as intended.
            <br>
            <br>
                <h4>Current Openings</h4> 
            <p>
            There are currently no funded openings in my research group. Please check again later.
        </p>
          </div>
        </p>
      </div>
    </div>
  </div>
  


<!-- Contact -->
<div class="contact section-padding" data-scroll-index='4'>
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-title text-center">
        <h3>Contact Us For More</h3>
        <p>
          If you are a student and want to apply for a position, please visit the positions page first to see if you have the 
          requirements for each job.
        </p>
        <span class="section-title-line"></span> </div>

      {% endblock %}